/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
/* Tooltip Container */
.tooltipdiv {
  display: none;
  position: absolute;
  z-index: 999;
  background: #5f5f5f;
  color: #fff;
  padding: 3px 6px;
  border-radius: 5px 20px 20px;
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.footerPledariSelect {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

.footerPledariSelect form {
  all: unset;
}
